{
  "extends": ["expo", "plugin:react/recommended"],
  "env": {
    "browser": true, // 1/25/2019 added this to eliminate complaints about setTimeout() not being defined
  },
  "rules": {
    "react/prop-types":              "off",  // relax react prop-types validation
    "babel/object-curly-spacing":    "off",  // relax spacing inside braces
    "import/no-duplicates":          "off",  // relax import duplicates ... KJB: sometimes like to import DIFF things this way
    "import/order":                  "off",  // relax import ordering
    "space-in-parens":               "off",  // allow any spacing within parens ... ex: .then( (encodedCredentials) => 'hmmm' )
    "space-infix-ops":               "off",  // allow any infix spacing ... ex: i+1
    "no-trailing-spaces":            "off",  // allow any spacing ... geeze
    "no-return-assign":              "off",  // allow assignment in return ... KJB: I like my code lean
    "arrow-spacing":                 "off",  // allow any around arrow function ... =>
    "newline-per-chained-call":      "off",  // allow chained calls without new line
    "no-whitespace-before-property": "off",  // allow spacing before property
  }
}
